{% extends "layout.html" %}
{% block content %}

<div class = "page" style = "background: #fff">
    <div class = "page-main">
      <div class = "header py-4", style="height: 64px;">
        <header class="header" style = "background: white;">
          <a href='/' style="text-align: left;">
            <img src="/static/images/transparent.svg" class="header-brand-img mr-2" alt="Responsly Logo", style="padding: 15px; height:100%;">
          </a>
        </header>
    </div>

        <div class = "container mt-5">
          <div id="message_container">
            <div id="message_holder" class = "message_holder">
              <section>
                <div class="from-them">
                    <p>Hi! While I'm not a Therapist, I'm an AI that talks and responds like one. </p>
                  </div>
                  <div class="clear"></div>
                  <div class="from-them">
                      <p> What's on your mind? </p>
                    </div>
                    <div class="clear"></div>
                </section>
              <div class="input-group" style = "position: absolute; bottom: 0px; padding: 3vh; padding-left: 12vh; text-align: center;">
                <input id = "myMessage" type="text" class="form-control" style="font-size: .875em;"/>
                <button id="sendbutton" class = "btn btn-primary">Send</button>
              </div>

            </div>
          </div>
        </div>

        <div class = "container" style = "display: block; text-align:center;"> 
        <form action="/recommendations">
            <input id ='go_to_recommendations' class="btn btn-primary" value="Generate Recommendations" type="submit"/>
        </form>
      </div> 
      </div>
      </div>

      <script type="text/javascript" src="/static/js/chat.js"></script>


{% endblock content %}