<!DOCTYPE html>
<html>
<head>


  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


  <div class = "page" style = "background: #fafafa">
    <div class = "page-main">
      <div class = "header py-4", style="height: 64px;">
        <header style = "background: #fff;
        width: 100%;
        height: 64px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0 24px;
        position: fixed;
        top: 0;
        z-index: 999;
        display: flex;
        justify-content: space-between;">
        <img src="static/images/transparent.svg" class="header-brand-img mr-2" alt="Responsly Logo", style="padding: 15px 0;">
      </header>
    </div>

        <div class = "container mt-5">
          <div id="message_container" style = "height: 80vh; background: #fff; border-radius: 50px; position: relative; border: 1px solid rgba(0, 0, 0, 0.12);">
            <h2 id = 'output' class = 'heading' style = "text-align: center; margin-top: 2vh"> Chat </h2>
            <div id="message_holder" style="overflow-y:scroll; height: 60vh;">
              <div style = "position: absolut; margin: 0 auto; left: 0; bottom; height: 1px; width: 50%; border-bottom: 1px solid rgba(0, 0, 0, 0.12); margin-bottom: 4vh;"> </div>
              <img src="static/images/transparent.svg" align="bottom" style="float:right; height: 2vh; ">
              <p style = "color: DARKGREEN; text-align:RIGHT; overflow-wrap: break-word; word-wrap: break-word; padding-left:30%; padding-right: 3%;"> <b>Sia: </b> Hi, I'm Sia! I'm an AI Counselor. So, while I'm not a human, I speak and act like how you would expect a Therapist to.</p>
              <img src="static/images/transparent.svg" align="bottom" style="float:right; height: 2vh;">
              <p style = "color: DARKGREEN; text-align:RIGHT; overflow-wrap: break-word; word-wrap: break-word; padding-left:30%; padding-right: 3%;"> <b>Sia: </b> What's your name and what's on your mind? Don't worry, I won't record our conversation.</p>

              <div class="input-group" style = "position: absolute; bottom: 0px; padding: 3vh;">
                <input id = "myMessage" type="text" class="form-control"/>
                <button id="sendbutton" class = "btn btn-primary">Send</button>
              </div>

            </div>
          </div>
        </div>

        <div class = "container mt-5">
          <div id="recommendation_holder" style="overflow-y:scroll; height: 60vh; background: #fff; border-radius: 50px; position: relative;">
            <h2 id = 'output-recommendation' class = 'heading' style = "text-align: center; margin-top: 2vh"> Recommendations </h2>
            <div style = "position: absolut; margin: 0 auto; left: 0; bottom; height: 1px; width: 50%; border-bottom: 1px solid rgba(0, 0, 0, 0.12); margin-bottom: 4vh;"> </div>
          </div>
        </div>


    <button id='call_recommendations' type="button" class="btn btn-primary">Test Button</button>


    <script type="text/javascript">
     var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

     $('#sendbutton').on('click', function(){
      console.log('Button Clicked');
      console.log($('#myMessage').val());

                //Add profile image to your message on the left
                var proPic = document.createElement("img");
                proPic.src = "static/images/transparent.svg";
                proPic.style = "float:left; height: 2vh;";
                document.getElementById('message_holder').appendChild(proPic);

                //Add a <p> for your message on the left
                var msgBody = document.createElement("p");
                msgBody.style="color: DARKBLUE; text-align:LEFT; overflow-wrap: break-word; word-wrap: break-word; padding-right:30%; padding-left: 3%;";
                msgBody.innerHTML= "<b>You: </b>"+ $('#myMessage').val();
                document.getElementById('message_holder').appendChild(msgBody);

                var element = document.getElementById("message_holder");
                element.scrollTop = element.scrollHeight;

                //Emit a message to the server so that Python can pick up the 'python' message
                socket.emit('python', {'the_text': $('#myMessage').val()}, namespace='/test');

                document.getElementById('myMessage').value = ''
              }
              );

     var input = document.getElementById("myMessage");
     input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("sendbutton").click();
      }
    });

     $('#call_recommendations').on('click', function(){
      console.log('Button Clicked');
      console.log($('#myMessage').val());

                //Emit a message to the server so that Python can pick up the 'python' message
                socket.emit('recommendation_python', namespace='/test');
              }
              );



     socket.on('to_socket_string', function(msg) {
  ////Add response image to your message on the right
  var proPic = document.createElement("img");
  proPic.src = "static/images/transparent.svg";
  proPic.style = "float:right; height: 2vh;";
  document.getElementById('message_holder').appendChild(proPic);

  //Add response text
  var msgBody = document.createElement("p");
  msgBody.style="color: DARKGREEN; text-align:RIGHT; overflow-wrap: break-word; word-wrap: break-word; padding-left:30%; padding-right: 3%;";
  msgBody.innerHTML= "<b>GPT3: </b>"+ msg.string;
  document.getElementById('message_holder').appendChild(msgBody);

  var element = document.getElementById("message_holder");
  element.scrollTop = element.scrollHeight;
});
     socket.on('recommendation_socket', function(msg) {
  ////Add response image to your message on the right
  recommendations_array = msg.recommendations_array

  for (let l = 0; l < recommendations_array.length; l++) {
  // Runs 5 times, with values of step 0 through 4.
  var recommendation_body = document.createElement("p");
  recommendation_body.style="color: DARKGREEN; text-align:RIGHT; overflow-wrap: break-word; word-wrap: break-word; padding-left:30%; padding-right: 3%;";
  recommendation_body.innerHTML = recommendations_array[l]

  document.getElementById('recommendation_holder').appendChild(recommendation_body)

}


});
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
