{% extends "layout.html" %}
{% block content %}


<div class = "page" style = "background-image:url(static/images/Background.png); background-size: 100%; background-repeat: no-repeat">
  <div class = "page-main">
      <div class = "header py-4", style="height: 64px;">
        <header class="header">
          <a href='/' style="text-align: left;">
            <img src="/static/images/transparent.svg" class="header-brand-img mr-2" alt="Responsly Logo", style="padding: 15px; height:100%;">
          </a>
        </header>
      </div>
<div style = 'height: 100vh;'>
  <div class="container hero" style="padding: 20vh;">
      <div class="row">
          <div class="col-12 col-lg-12">
              <h1 style = "font-size: 60px">Talk with an AI Therapist</h1>
              <p><br> <br>While not a Therapist, the AI responds like one. 
                <br> Our therapist won't ask to schedule appointments or charge you $100 an hour. <br> <br>
                Uses GPT3 to power the chat, and love to power the recommendations
                <br> <br><br><br></p> 
                <form action="/chat">
                  <input id ='call_recommendations' class="btn btn-primary" value="Start a Chat" type="submit"/>
                </form>
          </div>
      </div>
  </div>
</div>



  <script type="text/javascript">
   var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

   $('#sendbutton').on('click', function(){
    console.log('Button Clicked');
    console.log($('#myMessage').val());

              //Add profile image to your message on the left
              var proPic = document.createElement("img");
              proPic.src = "static/images/transparent.svg";
              proPic.style = "float:left; height: 2vh;";
              document.getElementById('message_holder').appendChild(proPic);

              //Add a <p> for your message on the left
              var msgBody = document.createElement("p");
              msgBody.style="color: DARKBLUE; text-align:LEFT; overflow-wrap: break-word; word-wrap: break-word; padding-right:30%; padding-left: 3%;";
              msgBody.innerHTML= "<b>You: </b>"+ $('#myMessage').val();
              document.getElementById('message_holder').appendChild(msgBody);

              var element = document.getElementById("message_holder");
              element.scrollTop = element.scrollHeight;

              //Emit a message to the server so that Python can pick up the 'python' message
              socket.emit('python', {'the_text': $('#myMessage').val()}, namespace='/test');

              document.getElementById('myMessage').value = ''
            }
            );

   var input = document.getElementById("myMessage");
   input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("sendbutton").click();
    }
  });

   $('#call_recommendations').on('click', function(){
    console.log('Button Clicked');
    console.log($('#myMessage').val());

              //Emit a message to the server so that Python can pick up the 'python' message
              socket.emit('recommendation_python', namespace='/test');
            }
            );



   socket.on('to_socket_string', function(msg) {
////Add response image to your message on the right
var proPic = document.createElement("img");
proPic.src = "static/images/transparent.svg";
proPic.style = "float:right; height: 2vh;";
document.getElementById('message_holder').appendChild(proPic);

//Add response text
var msgBody = document.createElement("p");
msgBody.style="color: DARKGREEN; text-align:RIGHT; overflow-wrap: break-word; word-wrap: break-word; padding-left:30%; padding-right: 3%;";
msgBody.innerHTML= "<b>GPT3: </b>"+ msg.string;
document.getElementById('message_holder').appendChild(msgBody);

var element = document.getElementById("message_holder");
element.scrollTop = element.scrollHeight;
});
   socket.on('recommendation_socket', function(msg) {
////Add response image to your message on the right
recommendations_array = msg.recommendations_array

for (let l = 0; l < recommendations_array.length; l++) {
// Runs 5 times, with values of step 0 through 4.
var recommendation_body = document.createElement("p");
recommendation_body.style="color: DARKGREEN; text-align:RIGHT; overflow-wrap: break-word; word-wrap: break-word; padding-left:30%; padding-right: 3%;";
recommendation_body.innerHTML = recommendations_array[l]

document.getElementById('recommendation_holder').appendChild(recommendation_body)

}


});
</script>

{% endblock content %}